@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.hero-section-img {
  width: auto;
  height: 30rem;
}

.nav-bar {
  margin-left: 2rem;
  margin-right: 2rem;
}

.home-img {
  width: 100vw;
  object-fit: cover;
  display: block;
  margin: 0;
  padding: 0;
}

.nav-links {
  padding-bottom: 100px;
  padding-right: 50px;
}

.services {
  padding-top: 0;
}

.logo-img {
  width: auto;
  height: 20rem; /* Increased fixed height */
  max-height: 20rem;
  display: block;
  padding-bottom: 100px;

}